body {
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
}

nav {
    box-sizing: border-box;
    width: 100%;
    padding: 1rem;
    background-color: #cfe5f5;
    border-bottom: solid #333;
}

nav a {
    font-family: 'Georgia', 'Arial', serif;
    padding: 10px;
    margin: 0 5px;
    border-radius: 5px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.outside-container {
    margin: 1rem;
}
