{% extends "layout.html" %}
{% block title %}Collections{% endblock %}
{% block content %}
<h2>Your collections</h2>
<br> <a href="/">Front page</a>
<hr>
{% for collection in collections %}
<a href="{{ url_for('collectionlist', collection_id=collection.id) }}">{{ collection.name }}</a>
<form action="/deletecollection" method="post"
    onsubmit="return confirm('Are you sure you want to delete this collection?');">
    <button name="deletecollection" >delete collection</button>
    <input type="hidden" name="collection_id" value="{{ collection.id }}">
</form>
<hr>
{% endfor %}

<form action="/collections" method="post">
    Title: <input type="text" name="title">
    <input type="submit" value="Create collection" minlength="1" maxlength="60">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>
<hr>
<h2>Collections invited to</h2>
{% for collection in authorized_collections %}
<a href="{{ url_for('collectionlist', collection_id=collection.id) }}">{{ collection.name }}</a>
<hr>
{% endfor %}
{% endblock %}
