{% extends "layout.html" %}
{% block title %}Collections{% endblock %}
{% block content %}
<h2>Your collections</h2>

{% for collection in collections %}
<div class="collection">
    <div>
        <a href="{{ url_for('collectionlist', collection_id=collection.id) }}">
            {{ collection.name }}
        </a>
    </div>
    <div>
        <form action="/deletecollection" method="post"
        onsubmit="return confirm('Are you sure you want to delete this collection?');">
            <button name="deletecollection" >delete collection</button>
            <input type="hidden" name="collection_id" value="{{ collection.id }}">
            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
        </form>
    </div>
</div>
{% endfor %}

<form action="/collections" method="post">
    Title: <input type="text" name="title">
    <input type="submit" value="Create collection" minlength="1" maxlength="60">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>
<hr>
<h2>Collections invited to</h2>
{% for collection in authorized_collections %}
<a href="{{ url_for('collectionlist', collection_id=collection.id) }}">{{ collection.name }}</a>
<hr>
{% endfor %}
{% endblock %}
