<p>Hello, you own this collection!</p>
<p>
    <a href="/collections">Your collections</a>
    <a href="/">Front page</a>
</p>

<form action="/addcard" method="post">
    Card name: <input type="text" name="cardname">
    <input type="submit" value="Add card" minlength="1" maxlength="150">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>
{% for card in cardlist %}
{% set winrate = (card.wins / (card.wins + card.losses) * 100) if not card.wins + card.losses == 0 else 0 %}
{{ card.name }} wins: {{ card.wins }} losses: {{ card.losses }} win-ratio: {{ '%0.2f' % winrate|float }}%
<form action="/deletecard" method="post">
    <button name="deletecard">delete card</button>
    <input type="hidden" name="card_id" value="{{ card.id }}">
</form>
<form action="/updatewins" method="post">
    <button name="addwins">add win</button>
    <input type="hidden" name="card_id" value="{{ card.id }}">
    <input type="hidden" name="direction" value="add">
</form>
<form action="/updatewins" method="post">
    <button name="removewins">remove win</button>
    <input type="hidden" name="card_id" value="{{ card.id }}">
    <input type="hidden" name="direction" value="remove">
</form>
<form action="/updatelosses" method="post">
    <button name="addloss">add loss</button>
    <input type="hidden" name="card_id" value="{{ card.id }}">
    <input type="hidden" name="direction" value="add">
</form>
<form action="/updatelosses" method="post">
    <button name="removeloss">remove loss</button>
    <input type="hidden" name="card_id" value="{{ card.id }}">
    <input type="hidden" name="direction" value="remove">
</form>
<hr>
{% endfor %}
