<p>Hello, you own this collection!</p>
<p>
    <a href="/collections">Your collections</a>
    <a href="/">Front page</a>
</p>

<form action="/addcard" method="post">
    Card name: <input type="text" name="cardname">
    <input type="submit" value="Add card">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>

{% for card in cardlist %}
{{ card.name }} wins: {{ card.wins }} losses: {{ card.losses }}
<form action="/deletecard" method="post">
    <button name="deletecard">delete card</button>
    <input type="hidden" name="card_id" value="{{ card.id }}">
</form>
<hr>
{% endfor %}
