{% extends "layout.html" %}
{% block title %}{{ collection.name }}{% endblock %}
{% block content %}

<h2>Collection: {{ collection.name }} by {{ collection.username }}</h2>
<strong> Invited users: </strong>
{% for user in invited_users %}
    {{ user.username }}&nbsp;
{% endfor %}

<form action="/addcard" method="post">
    Card name: <input type="text" name="cardname">
    <input type="submit" value="Add card" minlength="1" maxlength="150">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>
{% if logged_userid == collection.owner_id %}
<form action="/inviteuser" method="post">
    Username: <input type="text" name="usernametoinvite">
    <input type="submit" value="Invite user">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>
{% endif %}
{% for card in cardlist %}
{% set winrate = (card.wins / (card.wins + card.losses) * 100) if not card.wins + card.losses == 0 else 0 %}
{{ card.name }} wins: {{ card.wins }} losses: {{ card.losses }} win-ratio: {{ '%0.2f' % winrate|float }}%
<form action="/deletecard" method="post"
    onsubmit="return confirm(
        'Are you sure you want to delete this card? Its statistics can\'t be recovered');">
    <button name="deletecard">delete card</button>
    <input type="hidden" name="card_id" value="{{ card.id }}">
</form>
<form action="/updatewins" method="post">
    <button name="addwins">add win</button>
    <input type="hidden" name="card_id" value="{{ card.id }}">
    <input type="hidden" name="direction" value="add">
</form>
<form action="/updatewins" method="post">
    <button name="removewins">remove win</button>
    <input type="hidden" name="card_id" value="{{ card.id }}">
    <input type="hidden" name="direction" value="remove">
</form>
<form action="/updatelosses" method="post">
    <button name="addloss">add loss</button>
    <input type="hidden" name="card_id" value="{{ card.id }}">
    <input type="hidden" name="direction" value="add">
</form>
<form action="/updatelosses" method="post">
    <button name="removeloss">remove loss</button>
    <input type="hidden" name="card_id" value="{{ card.id }}">
    <input type="hidden" name="direction" value="remove">
</form>
<hr>
{% endfor %}
{% endblock %}
